.price {
  position: relative;
  z-index: 0;

.price-navigation {
  position: relative;
  background-image: url("../img/test-2000x900.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 60, 59, 0.8);
    z-index: -1;
  }

  .price-navigation__wrap {
    padding: 30px 15px 20px 15px;
  }

  .price-navigation__title {
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    text-align: center;
  }

  .price-navigation__description {
    color: #eae5db;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .price-navigation__list {
    @include list-reset;
    @include flex-mobile;
  }

  .price-navigation__item {
    @include flex-mobile;
    position: relative;
    width: 100%;
    background-color: #faf6ee;
    border-radius: 0.25rem;
    margin-bottom: 30px;
  }

  .price-navigation__item:hover {
    background: linear-gradient(90deg, #faf6ee, #d7d0c4);
    transform: translateY(-10px);
    transition: 0.3s;
  }

  .price-navigation__picture {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
  }

  .price-navigation__link {
    position: relative;
    display: block;
    width: 100%;
    padding: 110px 40px 40px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #3d3c3b;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 35px;
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      background-image:url("../img/price_01.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .price-navigation__item:nth-child(2)
  .price-navigation__link::before {
    background-image:url("../img/price_02.svg");
  }

  .price-navigation__item:nth-child(3)
  .price-navigation__link::before {
    background-image:url("../img/price_03.svg");
  }

  .price-navigation__item:nth-child(4)
  .price-navigation__link::before {
    background-image:url("../img/price_04.svg");
  }

  .price-navigation__item:nth-child(5)
  .price-navigation__link::before {
    background-image:url("../img/price_05.svg");
  }

  .price-navigation__item:nth-child(6)
  .price-navigation__link::before {
    background-image:url("../img/price_06.svg");
  }

  .price-navigation__item:nth-child(7)
  .price-navigation__link::before {
    background-image:url("../img/price_07.svg");
  }

  .price-navigation__item:nth-child(8)
  .price-navigation__link::before {
    background-image:url("../img/price_08.svg");
  }

  @media (min-width: $tablet-width) {
    .price-navigation__wrap {
      padding-right: 30px;
      padding-left: 30px;
    }
    .price-navigation__list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .price-navigation__item {
      width: 48%;
    }
    .price-navigation__item:nth-child(odd) {
      margin-right: 4%;
    }
  }

  @media (min-width: $desktop-width) {
    .price-navigation__wrap {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 40px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 30px;
    }
    .price-navigation__title {
      font-size: 24px;
    }
    .price-navigation__description {
      margin-bottom: 40px;
    }
    .price-navigation__link {
      padding: 110px 0px 30px 0px;
    }
    .price-navigation__item {
      width: calc(25% - 30px);
      margin-right: 30px;
    }
    .price-navigation__item:nth-child(odd) {
      margin-right: 30px;
    }

  }
}


.price-content {

.price-content__part {
  background-color: #ffffff;

  .price-content__wrap {
    padding: 30px 30px 20px 30px;
  }

  .price-content__title {
    color: #232323;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 100px;
    margin-top: -100px;
  }

  .price-content__description {
    color: #232323;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .price-content__list {
    @include list-reset;
    @include flex-mobile;
  }

  .price-content__item {
    @include flex-mobile;
    position: relative;
    width: 100%;
    background-color: #eae5db;
    margin-bottom: 30px;
  }

  .price-content__item-wrap {
    width: 100%;
  }

  .price-content__service {
    color: #232323;
    text-align: center;
    padding: 10px 40px;
  }

  .price-content__price {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    background-color: #75746e;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;

    span {
      font-weight: normal;
    }
  }

  .price-content__service-description {
    font-size: 16px;
    color: #232323;
    line-height: 1.4;
    text-align: center;
    padding: 20px 15px;
    width: 100%;
  }

  .price-content__more {
    padding: 20px 0;
    border-top: 1px solid #dcd1c7;
    width: 100%;
  }

  .price-content__link {
    display: block;
    width: 190px;
    padding: 20px 0;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    background-color: #82786e;
    border-radius: 3px;
    text-align: center;
    transition: 0.4s;
    margin: 0 auto;
  }

  .price-content__link:hover {
    background-color: #59524b;
  }

  @media (min-width: $tablet-width) {
    .price-content__wrap {
      padding-right: 60px;
      padding-left: 60px;
    }
    .price-content__list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .price-content__item {
      width: 48%;
      justify-content: space-between;
    }
    .price-content__item:nth-child(odd) {
      margin-right: 4%;
    }
  }

  @media (min-width: $desktop-width) {
    .price-content__wrap {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 40px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 30px;
    }
    .price-content__title {
      font-size: 24px;
    }
    .price-content__description {
      margin-bottom: 40px;
    }
    .price-content__item {
      width: calc(25% - 30px);
      margin-right: 30px;
    }
    .price-content__item:nth-child(odd) {
      margin-right: 30px;
    }

  }
}

.price-content__part:nth-child(2n) {
  background-color: #faf6ee;

  .price-content__item {
    background-color: #ffffff;
  }
  .price-content__price {
    background-color: #808080;
  }
}
}
}
